*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    /* colors */
    --bg-color: rgb(16, 16, 16);
    --primary-text-color: #f4f4f4;
    --button-primary-color: #242424;

    /* paddind */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;

    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --paddind-xxl: 30px;

    /* border-radius */

    --border-redius-s: 5px:
    --border-redius-m: 10px;
    --border-redius-l: 15px;
    --border-redius-xl: 20px;
    --border-redius-xxl: 30px;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button{
    background-color: var(--button-primary-color);
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: var(--border-redius-l);
    cursor: pointer;
}

nav .left{
    font-size: 20px;
    letter-spacing: 2px;
}

section{
    padding: var(--section-padding);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 30px;
}

section .task-column{
    background-color: var(--button-primary-color);
    flex-grow: 1;
    border-radius: var(--border-redius-l);
}

section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-l) var(--padding-xl);
    font-size: 18px;
}